.container {
  padding: 0 2rem;
}

.name{
  font-size: 11px;
}
.h1{
   
  text-align: center;
}
.header{
  width: 90%;
  display: flex;
  justify-content: space-between;
 
}
.content{
  border-right: solid 1px black;
  max-width: 300px;
  border-bottom: solid 1px black;
  margin-bottom: 100px;
  margin-top: 90px;
  display: block;
}



.capital{
  font-size: 9.95px;
}
